<!DOCTYPE html>
<html>

{% include head.html %}

<body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

<div class="wrapper" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
    <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

    <header class="page-header">

        {% include navigation.html %}

    </header>

    {{ content }}

    {% include footer.html %}

</div>

</body>

</html>
